/* page styles */
:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #212121;
  background-color: #f4f4f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  background-color: #212121;
  color: white;
  width: 100vw;
}

header svg.logo {
  margin-right: 0.5rem;
  /* animation: spin 4s infinite linear; */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* main content */
main {
  flex-grow: 1;
  overflow-y: auto;
  padding: 2rem;
  background-color: white;
  width: 100vw; /* Full width */
  max-width: 100%; /* No side gaps */
}

.button {
  background: #007bff;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 300ms;
}

.button:hover {
  background-color: #0e67c7;
}

.button svg {
  margin-right: 0.5rem;
}

a:any-link {
  text-decoration: inherit;
  color: inherit;
}

.spacer {
  flex-grow: 1;
}

.pill {
  background-color: #007bff;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  font-size: 0.8rem;
}
