.icon-button {
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  background-color: #f0f0f0;
}

.icon-button svg {
  fill: #333;
}


video#view {
  width: 100%;
  height: auto;
  max-height: 100%;
}