body {
  overflow-x: hidden;
  height: 100vh;
}

main {
  height: auto;
  max-height: 100vh;
  overflow-y: auto;
}

.event-details {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid #1f2937;
}

.event-thumbnail {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  margin-right: 1.5rem;
  transition: transform 0.3s;
}

.event-thumbnail:hover {
  transform: scale(1.05);
}

.event-name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.event-meta {
  font-size: 1rem;
  color: #d1d5db;
}

.event-actions {
  display: flex;
  justify-content: start;
  gap: 1rem;
  padding: 1.5rem;
  /* background: #f9f9f9; */
}

/* event description style*/
.event-description {
  padding: 1.5rem;
  line-height: 1.6;
  text-align: justify;
  font-size: 1rem;
}

.delete {
  background-color: #dc2626;
}

.delete:hover {
  background-color: #b91c1c;
}

#description-content ul, #description-content ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.event-description h2,
.organiser-details h2 {
  margin-bottom: 1rem;
}

/* organiser details style */
.organiser-details {
  padding: 1.5rem;
  /* background-color: #f5f5f5; */
}

.organiser-details a {
  list-style-type: none;
  display: block;
  color: #f9fafb;
  max-width: fit-content;
  margin: 0.75rem 0;
  padding: 1rem;
  background-color: transparent;
  overflow-x: hidden;
  border-radius: 12px;
  border: 1px solid #111827;
  text-overflow: ellipsis;
  font-size: 1rem;
}

#register-dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9fafb;
  padding: 2rem;
  min-width: 260px;
  border-radius: 8px;
  background-color: #1f2937;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #111827;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::backdrop {
  background-color: rgb(0, 0, 0, 0.24);
}

#register-dialog[open] input {
  border: 1px solid #111827;
}

#public-key {
  text-overflow: ellipsis;
  text-align: center;
  overflow-x: hidden;
  max-width: 384px;
}

#close-dialog {
  position: absolute;
  background-color: #111827;
  color: #f9fafb;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1rem;
  padding: 0.5rem;
  padding-bottom: 0.65rem;
  border-radius: 0 0 0 8px;
  top: 0;
  right: 0;
  cursor: pointer;
}


@media (max-width: 768px) {
  .event-actions {
    justify-content: center;
  }
  .event-details {
    flex-direction: column;
    text-align: center;
  }

  .event-thumbnail {
    margin: 0 0 1rem 0;
  }
}

