/* page style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* app style */
#app {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

header {
  background-color: #212121;
  padding: 1rem;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header svg {
  margin-right: 0.5rem;
}

header span {
  font-size: 1.5rem;
}

/* form styling */
.form-wrapper {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #212121;
}

input[type="text"],
input[type="date"],
textarea {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}

input[type="image"] {
  padding: 0.75rem;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  #app {
    padding: 1rem;
  }

  .form-wrapper {
    padding: 1.5rem;
  }
}
